<% if false && User.current.allowed_to?(:view_agile_queries, @project, :global => true) %>
  <div style="padding: 12px 0 0">
    <%= link_to l(:label_agile_board), {:controller => "agile_boards", :action => "index", :project_id => @project} %>
  </div>
<% end %>
